:root {
    --backgroundColor:rgb(40, 53, 62);
    --contrastColor:rgb(236, 231, 211);
}

body {
    background-color:rgb(40, 53, 62);
}

nav {
    background-color:rgb(236, 231, 211);
    width: 100%;
    height: 75px;
    position:fixed;
    top: 0px;
    left: 0px;

    display:flex;
    justify-content: flex-end;
    align-items: center;

}
nav a {
    padding-right: 25px;
}

main {
    margin-top: 100px;
}

#Homework {
    width: 760px;
    height: auto;
}