:root {
    --dark:#3F3B6C;
    --medium:#624F82;
    --light:#9F73AB;
    --highlight:#A3C7D6;
    --translucent: rgba(63, 59, 108, 0.6);
}

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color:var(--dark);
}

/* ---- Nav Bar Section ------------------ */
nav {
    background-color:var(--highlight);
    width: 100%;
    height: 75px;
    position:fixed;
    top: 0px;
    left: 0px;
    z-index: 5;

    display:flex;
    justify-content: flex-end;
    align-items: center;

    color:var(--dark);

}
nav h1 {
    position: absolute;
    left:15px;
    font-size: 40px;
}
nav a {
    padding-right: 25px;
    border-right: 3px solid var(--medium);
    margin-left: 10px;
}
nav a:link {
    color:var(--dark);
    text-decoration: none;
}
nav a:hover {
    color:var(--light);
}
nav a:active {
    font-size: 10px;
}
.last {
    border:none;
}
/* /////////////////////////// */


/*  MAIN BODY  */
main {
    margin-top: 100px;
    width: 100%;
    /* background-color: var(--light); */
    display:flex;
    flex-direction:column;
    align-items: center;
}
img {
    padding: 10px;
    background-color: var(--medium);
    border-radius: 25px;
    border: 3px solid var(--dark);
    box-shadow: inset 0 0 10px var(--dark);
}
.row-container {
    display: flex;
    flex-direction: row;
}
.col-container {
    display: flex;
    flex-direction: column;
}

/* ---- Header Section ------------------ */
header {
    width: 100%;
    /* padding: 25px; */
    padding-bottom: 25px;
    padding-top:25px;
    justify-content: space-evenly;
    /* row-gap: 75px; */
    /* z-index: 2; */
    color:var(--highlight);
}
header em {
    font-style: normal;
}
header section {
    text-align: left;
    justify-content:  center;
}
header h2 {
    font-size: 40px;
    width: 100%;
    text-align: left;
    padding-left: 30px;
    border-bottom: 4px solid var(--highlight);
}
header section ul li {
    margin-top:25px;
    font-size: 20px;
}
header a {
    color: var(--light);
}
header a:hover {
    color: var(--medium);
}
#portrait {
    height: 450px;
}
/* /////////////////////////////////// */


#bio {
    width: 80%;
    /* height: 85px; */
    margin-left:50px;
    margin-right: 50px;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--medium);
    border-radius: 25px;
    color:var(--highlight);
}
#divider {
    width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
    border-bottom: 5px dashed var(--light);
    box-shadow: 0px 10px 15px var(--medium);
}



/* ---- WORK Section ------------------ */
figure div {
    border-radius: 25px;
    height:90%;
}
figure div:hover {
    opacity: 0.5;
    z-index: 3;
}
figure {
    position: relative;
}
figure img {
    width:100%;
    border-radius: 25px;
}

/* ---- Center Image Section ------------------ */
#synopsis {
    width: 80%;
    margin-left:150px;
    margin-right: 150px;
    padding-left:50px;
    padding-right: 50px;
    padding-bottom: 25px;

    text-align: right;
    color:var(--highlight);
}
#centerImage p {
    flex-wrap: wrap;
    font-size: 40px;
    text-align: right;
    color:var(--highlight)
}
#centerImage figcaption {
    font-size: 30px;
}
#centerImage figure {
    flex-shrink: 1;
}
#centerImage div {
    flex-shrink: 1;
}

/* ---- Past Work Images Section ------------------ */
#cards {
    border-top: 3px solid var(--medium);
}
.card {
    width:45%;
    flex-shrink: 1;
    position:relative;
}
.card img {
    height: 300px;  /* images are different size, so scale them to match*/
}
.cardTitle {
    position: absolute;
    background-color: var(--translucent);
    font-size: xx-large;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;

    top: 15px;
    left: 25px;
}
.cardDate {
    position:absolute;
    background-color: var(--translucent);
    font-size: xx-large;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;

    bottom: 20px;
    right: 25px;
}
.cardDesc {
    opacity: 0;
    position:absolute;
    background-color: var(--highlight);
    font-size: xx-large;
    border-radius: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    font:var(--dark);

    bottom: -20px;
    left: 25px;

    -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}
figure:hover .cardDesc {
    opacity: 1;
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
}
/* /////////////////////////////////// */


footer {
    width: 100%;
    height: 75px;
    position:relative;
    bottom:0px;
    text-align: center;
    background-color: var(--light);
    padding-bottom: 15px;

    border-radius: 10px;
    color: var(--dark);
}


@media screen and (max-width: 992px) {

}
@media screen and (max-width: 762px) {
    .row-container {
        flex-direction: column;
        align-items: center;
    }
    .card  {
        width: 75%;
    }
}
